.myBtn{
    text-align: center;
    border: none;
    background-color: rgb(11, 111, 199);
    color: aliceblue;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}
.container{
   width: 100%;
    height:600px;
    background-color: rgb(49, 56, 56);
    color: white;
    position: relative;
}

.content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.box-shadow{
    box-shadow: 0px 8px 16px lightblue;
}
 /* slider start from here */
 .image-container{
    width: 100%;
    height:600px;
    background-color: rgb(64, 199, 199);
    color: white;
    position: relative;
    
}
 

.image-content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.sbtn{
    border: none;
    background-color: rgb(126, 120, 151);
    font-size: 22px;
    padding: 10px;
    font-weight: bolder;
    border-radius: 6px;
    color: aliceblue;
}
h1{
    text-align: center;
    max-width: 100%;
    overflow:auto;
}
@media screen and (max-width:360px){
    img{
        width:300px;
        height: 280px;
    }
}